@import 'variables';

a.bt, button.bt{
  padding:14px 24px;
  min-width: 200px;
  font-size: 9px;
  letter-spacing: 0.8pt;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;
  text-shadow: rgba(0, 0, 0, 0.15) 0px 3px 8px;

}

a.bt.font-middle, button.bt.font-middle{
  font-size:13px;
}
a.bt:hover, a.bt:focus, button.bt:focus, button.bt:hover{
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
  text-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
}

a.bt.bt-green, button.bt.bt-green{
  background-color: $green !important;
  color:$white;
}
a.bt.bt-green:hover, button.bt.bt-green:hover{
  background-color: $green-ligth;
}
a.bt.purple, button.bt.purple{
  background-color: $purple !important;
  color:$white;
}
a.bt.purple:hover, button.bt.purple:hover{
  background-color: $purple-ligth !important;
}
a.bt.blue, button.bt.blue{
  background-color: $blue !important;
  color:$white;
}
a.bt.blue:hover, button.bt.blue:hover{
  background-color: $blue-ligth !important;
}
a.bt.gray, button.bt.gray{
  background-color: $gray !important;
  color:$blue;
}
a.bt.gray:hover, button.bt.gray:hover{
  background-color: $gray-ligth !important;
}
