@mixin font-face($family, $path, $weight: normal, $style: normal)
{
  @font-face
  {
    font-family: $family;
    // src: url('./assets/fonts/#{$path}.eot');
    // src: url('./assets/fonts/#{$path}.eot?#iefix') format('embedded-opentype'),
    src: url('/assets/fonts/#{$path}.ttf') format('truetype');
    // url('./assets/fonts/#{$path}.svg') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}


@include font-face('Quicksand', 'Quicksand/Quicksand-Light', 100, light);
@include font-face('Quicksand', 'Quicksand/Quicksand-Regular', 300, regular);
@include font-face('Quicksand', 'Quicksand/Quicksand-Medium', 500, medium);
@include font-face('Quicksand', 'Quicksand/Quicksand-Bold', 600, semi-bold);
@include font-face('Raleway', 'Raleway/Raleway-Bold', 700, bold);


@include font-face('Roboto', 'Roboto/Roboto-Light', 100, light);
@include font-face('Roboto', 'Roboto/Roboto-Regular', 300, regular);
@include font-face('Roboto', 'Roboto/Roboto-Medium', 500, medium);
@include font-face('Roboto', 'Roboto/Roboto-Bold', 600, semi-bold);

@include font-face('HelveticaNeue', 'HelveticaNeue-Regular/HelveticaNeue', 300, regular);
@include font-face('Aquatico', 'Aquatico/Aquatico-Regular', 300, regular);
