@import 'variables';
@media (max-width: $breakpoint-device-4){

}
@media (max-width: $breakpoint-device-3){
  .section-third-content-text__buttons{
    padding-top: 160px;
  }
  .section-fourth-content-text__buttons{
    padding-top: 140px;
  }
}
@media (max-width: $breakpoint-device-2){
  .bgc{
    width: 110%;
    height: 110%;
    -webkit-transform: skewY(2deg);
    -ms-transform: skewY(2deg);
    transform: skewY(2deg);
    bottom:55%;
  }
  .section-third-content-text__buttons{
    padding-top: 78px;
  }
  .section-fourth-content-text__buttons{
    padding-top: 110px;
  }
  .section-third-content-text__description{
    font-size:22px;
    line-height: 30px;
  }
  .section-third-content-text__title{
    padding-bottom: 50px;
  }
}
@media (max-width: $breakpoint-device){
  .footer-block{
    width:19%;
  }
  .header-wrap-img{
    display:block;
  }
  .bgc{
    width: 110%;
    height: 110%;
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
    bottom:55%;
  }
  .section-third-content{
    padding: 80px 60px 120px 60px;
  }
  .section-third-content-text__title{
    padding-bottom: 45px;
  }
  .section-third-content-text{
    width:55%;
    padding-left: 60px;
  }
  .section-third-content-image{
    height: 430px;
    width:45%
  }
  .section-third-content-text__buttons{
    padding-top: 70px;
  }
  .section-third-content-image {
    height: 395px;
    width: 45%;
  }
  .section-third-content-text__description{
      font-size:20px;
      line-height: 30px;
    }
    .section-fourth-content-image {
      height: 395px;
      width: 45%;
    }
    .section-fourth-content-text__description{
        font-size:20px;
        line-height: 30px;
    }
    .section-fourth-content-text{
      width:55%;
      padding-right: 60px;
    }
    .section-fourth-content {
    padding: 60px 80px 100px 60px;
    position: relative;
  }
}
@media (max-width: $breakpoint-tablet){
  .header-wide{
    display:none !important;
  }
  .header-mobile{
  display: block !important;
  }
  .header-menu__link{
    padding-right: 20px;
  }
  .bgc{
    width: 110%;
    height: 110%;
    -webkit-transform: skewY(5deg);
    -ms-transform: skewY(5deg);
    transform: skewY(5deg);
    bottom:60%;
  }
  .footer-block{
    width:33% !important;
  }
  .footer:after {
  content: "";
  flex: auto;
  }
  .footer-main{
    padding-left:25px;
  }
  .header-wrap-img{
    display:none;
  }
  .box-padding{
    margin-bottom:25px;
  }
  .align-center{
    align-items: left;
    padding-right: 50px;
  }
  .label--green-big{
    width:65%;
  }
  .section-third-content-text__buttons{
    padding-top: 75px;
    padding-bottom: 30px;
  }
  .section-fourth-content-text__buttons{
    padding-top: 80px;
    padding-bottom: 30px;
  }
  .section-third-buttons {
    padding-bottom: 0;
  }
  .section-third-content-text {
      padding-left:30px;
    }
    .connect-box-table__wrap--second:before {
        left: 29%;
    }
    .connect-box-table__wrap--second:after {
        left: 29%;
    }
    .connect-box-table__label--first{
      left: 2%;
    }
    .connect-box-table__label--second{
      left: 15%;
    }
    .connect-box-table__label--third{
      left: 28%;
    }
    .connect-box-table__label--four{
      left: 45%;
    }
    .connect-box-table__label--five{
      left: 78%;
    }
    .connect-box-table__label--six{
      text-align: right;
      padding-right: 5px;
    }
    .section-third-content-text__description{
        font-size:20px;
        line-height: 28px;
      }
    .section-third-content-text__buttons button{
      min-width:160px;
    }
    .section-fourth-content-text__buttons button{
      min-width:160px;
    }
    .section-fourth-content-image {
      height: 395px;
      width: 45%;
    }
}
@media (max-width: 881px){
  .section-third-content-text__title{
    padding-bottom: 35px;
  }
  .section-third-content-text__buttons {
      padding-top: 55px;
      padding-bottom: 30px;
  }
  .section-fourth-content-text__title{
    padding-bottom: 35px;
  }
  .section-fourth-content-text__buttons {
      padding-top: 55px;
      padding-bottom: 30px;
  }
}
@media (max-width: 803px){
  .section-third-content-text__title{
    padding-bottom: 35px;
  }
  .section-third-content-text__buttons {
      padding-top: 30px;
      padding-bottom: 30px;
  }
}
@media (max-width: $breakpoint-mobile){
  .bgc{
    width: 110%;
    height: 110%;
    -webkit-transform: skewY(10deg);
    -ms-transform: skewY(10deg);
    transform: skewY(10deg);
    bottom:56%;
  }
  .header-menu-list{
    display:none;
  }
  .footer-block{
    width:50% !important;
  }
  .footer:after {
  content: "";
  flex: auto;
  }
.section-third-content-text {
    padding-left:0;
  }
  .connect-box-table__label--first{
    left: 2%;
  }
  .connect-box-table__label--second{
    left: 10%;
  }
  .connect-box-table__label--third{
    left: 18%;
  }
  .connect-box-table__label--four{
    left: 35%;
  }
  .connect-box-table__label--five{
    left: 70%;
  }
  .connect-box-table__label--six{
    text-align: right;
    padding-right: 5px;
  }
  .label{
    border-radius: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size:16px;
    padding: 5px 8px 5px 8px;
  }
  .section-third-content{
    padding: 60px 60px 100px 60px;
    flex-direction: column;
  }
  .section-fourth-content{
    padding: 60px 60px 100px 60px;
    flex-direction: column;
  }
  .section-third-content-text__title{
    padding-bottom: 45px;
  }
  .section-third-content-text{
    width:100%;
    padding-left: 0;
    display:block;
    margin: auto;
  }
  .section-third-content-image{
    height: 430px;
    width:100%;
    min-width:300px;
    display:block;
    margin: auto;
    margin-bottom: 35px;
  }
  .section-third-content-text__buttons{
    padding-top: 45px;
    padding-bottom: 30px;
    margin-bottom: 25px;
  }
  .section-fourth__description {
    padding: 80px 20px 80px 20px;
  }
  .section-fourth-buttons__item {
    padding: 6px;
    margin: 5px 5px 5px 5px;
    font-family: "Quicksand-Bold", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 23px;
    border: 1px solid white;
    border-radius: 25px;
  }
  .section-fourth-content-text{
    width:100%;
    padding-right: 0;
    display:block;
    margin: auto;
  }
  .section-fourth-content-image{
    height: 430px;
    width:100%;
    min-width:300px;
    display:block;
    margin: auto;
    margin-bottom: 35px;
  }
}
@media (max-width: $breakpoint-mobile-low){
  .bgc{
    width: 110%;
    height: 110%;
    -webkit-transform: skewY(25deg);
    -ms-transform: skewY(25deg);
    transform: skewY(25deg);
    bottom:64%;
  }
  .footer-block{
    width:100% !important;
    padding-left:10px;
  }
  .footer-main{
    padding-left:30px;
  }
  .header-wrap-img{
    display:none;
  }
  .first-section-wrap__main-text{
    text-align: left;
  }
  .first-section-wrap {
    margin-top: 100px;
    padding-left: 20px;
  }
}
