@mixin txt($font-family, $font-size, $color, $font-weight){
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  color: $color;
  font-weight:$font-weight;
}

//title
h1.txt-logo{
  @include txt('Aquatico', 18px, $white, 300);
}
