$green: #3AC69D;
$green-ligth: #4BDBB1;
$white: #fff;
$purple: #CF3095;
$purple-ligth: #E847AD;
$blue: #5F83DA;
$blue-ligth: #6D91E9;
$gray:  #E1F0FF;
$gray-ligth: #F3F9FF;
$purple-text: #545377;
$gray-dark: #657E97;
$blue-dark: #525f7f;

$dashboard-blue: #109BF8;
$dashboard-blue-dark: #003277;
$dashboard-gray: #707070;
$dashboard-gray-text: #95989A;
$dashboard-gray-text-2: #576271;
//breakpoint
$breakpoint-device: 1199px;
$breakpoint-device-2: 1326px;
$breakpoint-device-3: 1528px;
$breakpoint-device-4: 1710px;
$breakpoint-tablet: 992px;
$breakpoint-mobile: 767px;
$breakpoint-mobile-low: 564px;
