@import "../../scss/partials/variables";
.header{
  position:relative;
}
.bgc{
  background-image: url('../../../public/images/Bg-01.png');
  position: absolute;
  z-index: -1;
  width: 110%;
  height: 110%;
  background-size: 100% 100%;
  -webkit-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  transform: skewY(-3deg);
  bottom:60%;
  left:-5%;
}
.header-wrap-text{
  max-width: 802px;
  width:100%;
}
.bt-margin-right{
  margin:0 26px 0 0;
}
.header-wrap-text__title{
  font-size:28pt;
  color:white;
  font-weight: 300;
  text-align: left;
  line-height: 44px;
  font-family: Quicksand, sans-serif;
  width:100%;
  padding-right: 0;
}
.header-wrap-text__subtitle{
  color:white;;
  font-size:24px;
  line-height: 38px;
  text-align:left;
  margin-top: 60px;
  margin-bottom: 60px;
  font-weight: 300;
  font-family: Quicksand, sans-serif;
}
.header-wrap-text__buttons{
  display:flex;
  align-items:left;
}
.header-wrap-img{
  position:relative;
  width:100%;
}
.header-wrap-text-block{
  margin-top:120px;
}
.header-wrap-text-block__title{
  line-height: 28px;
  color:#5F83DA;
  font-size:32px;
  text-align: left;
  font-weight: normal;
  margin-bottom: 30px;
  font-weight: 300;
  font-family: Quicksand, sans-serif;
}
.header-wrap-text-block__subtitle{
  font-size:20px;
  color:#657E97;
  line-height: 26px;
  text-align: left;
  font-weight: normal;
  font-weight: 300;
  font-family: Quicksand, sans-serif;
}
.header-wrap-text-block__item{
  width:50%;
}
.section-first-technologies{
  width:auto;
  height:auto;
}
.section-first-technologies__wrap{
  padding-top: 60px;
}
.technologies__img{
  width:80px;
  height:80px;
  background-color: #E9967A;
  text-align: center;
  margin:0 auto 20px auto;
  border-radius: 6px;
}
.technologies__about h3{
  text-align: center;
  margin-bottom: 50px;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  color:$blue;
}
.technologies__about p{
  font-size:16px;
  color:$purple-text;
  line-height: 26px;
  padding:0 20px;
  text-align: center;
  font-family: Quicksand, sans-serif;
  font-weight: 300;
}
.first-section-wrap__title{
  margin:0 0 20px 0;
  font-family: Quicksand, sans-serif;
  font-weight: 300;
  color: $blue;
}
.first-section-wrap__main-text{
  line-height: 43px;
  text-align: right;
  font-size:22px;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  color:$blue;
}
.first-section-wrap__text{
  font-size:20px;
  color:$gray-dark;
  text-align: left;
  line-height: 26px;
  font-family: Quicksand, sans-serif;
  font-weight: 300;
}
.first-section-wrap{
  margin-top: 200px;
}
.first-section-text__item{
  padding:0 15px 0 15px;
}
.first-section-text__item--image{
  display: flex;
  width:62px;
  height: auto;
  text-align: left;
  padding-bottom: 25px;
  align-items:left;
}
.first-section-text__item h3{
  text-align: left;
  margin-bottom: 20px;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
  color:$blue;
}
.first-section-text__item p{
  font-size:16px;
  color:$gray-dark;
  text-align: left;
  line-height:26px;
  font-family: Quicksand, sans-serif;
  font-weight: 300;
}
.second-section{
  position: relative;
}
.second-section-inner{
  margin-top: 100px;
}
.second-section-title__icon{
  position:relative;
  width:65px;
  height: 65px;
  background-color: #D7F5FD;
  border-radius: 50%;
  margin: 0 auto 35px;
}
.icon-inner{
  position:absolute;
  width:35px;
  height: 35px;
  background-color: #69D5FB;
  border-radius: 9px;
  top:15px;
  left:15px;
  display:inline-block;
}
.icon-inner:before{
    content: '';
    width:18px;
    height: 5.5px;
    background-color: white;
    top:10px;
    left:8.5px;
    border-radius: 2px;
    position: absolute;
}
.icon-inner:after{
    content: '';
    width:18px;
    height: 5.5px;
    background-color: white;
    top: 21px;
    left:8.5px;
    border-radius: 2px;
    position: absolute;
}
.second-section-title__text{
  width:65%;
  text-align: center;
  margin: 0 auto;
}
.second-section-title__text h2{
  font-size:32px;
  font-family: Quicksand, sans-serif;
  font-weight: 300;
  color:$blue;
}
.connect-box{
  width: 100%;
    height: 100%;
    position: relative;
    background: linear-gradient(100grad, #fff 54px, #f2f6fa 0) repeat-x;
    background-size: 55px 100%;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
}
.box-padding{
  padding:0 25px 0 25px;
}
.connect-box__title{
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #525f7f;
  font-size:22px;
  padding: 10px 0;
}
.bgc-gray{
  background-color: $gray-ligth;
}
.bgc-green{
  background-color: $green-ligth;
}
.connect-box__text{
  padding: 35px 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  color: $blue-dark;
  }
  .connect-box-wrap{
  margin-top: 60px;
  margin-bottom: 120px;
  }
  .header-wrap-img__first {
    position: relative;
    z-index: 2;
    left: 0;
    width: 100%;
    height:auto;
}
.header-wrap-img__second {
    position: absolute;
    z-index: 1;
    top: 34px;
    right: calc(45% - 432px);
    width: 100%;
    height:auto;
}
.connect-box-table{
  width: 100%;
  position: relative;
  background: linear-gradient(100grad, #fff 54px, #f2f6fa 0) repeat-x;
  background-size: 55px 100%;
  -webkit-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}
.connect-box-table__wrap{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  height: 235px;
}
.connect-box-table__item{
  padding: 6px 0;
}
.connect-box-table__item:nth-child(odd) {
    background: rgba(228, 237, 245, 0.4);
}
.connect-box-table__label{
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
}
.connect-box-table__label--first{
  left: 14px;
}
.connect-box-table__label--second{
  left: 100px;
}
.connect-box-table__label--third{
  left: 190px;
}
.connect-box-table__label--four{
  left: 230px;
}
.connect-box-table__label--five{
  left: 380px;
}
.connect-box-table__label--six{
  text-align: right;
  padding-right: 5px;
}
.label{
  border-radius: 20px;
  font-weight: 600;
  font-size: 14pt;
  color: #fff;
  text-transform: uppercase;
  font-size:16px;
  padding: 5px 8px 5px 8px;
}
.label--blue{
  background-color: #68d4f8;
}
.label--purple{
  background-color: #7795f8;
}
.label--pink{
  background-color: #f6a4eb;
}
.label--orange{
  background-color: #f5be58;
}
.label--red{
  background-color: #fa755a;
}
.label--green{
  background-color: #3ecf8e;
}
.label--green-big {
    width: 55%;
    display: inline-block;
}
.align-center{
  text-align: center;
}
.second-section-background{
  position: absolute;
  width: 100%;
  height: 44%;
  background-color: #ADB5C9;
  bottom: 0;
}
.section-third{
  width:100%;
  height:100%;
  padding-top:120px;
  position:relative;
  padding-bottom: 10%;
  }
.title-border{
    border: 1px solid white;
    max-width: 400px;
    height: 80px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16pt;
    font-weight: 500;
    font-size:22px;
    text-transform: uppercase;
    font-family: Quicksand, sans-serif;
    color:white;
}
.section-third-background{
  background-image: url('../../../public/images/Bg-02.png');
  position: absolute;
  z-index: -1;
  width: 106%;
  height: 100%;
  background-size: 100% 100%;
  top:0;
  left: -3%;
}
.container-margin{
  margin:0 60px 0 60px !important;
}
.section-third__description{
  padding-top:120px;
  padding-bottom: 140px;
}
.text-description{
  font-family: Quicksand, sans-serif;
  font-size:24px;
  line-height: 38px;
  text-align: center;
  width: 100%;
  height: auto;
  color:white;
  font-weight: 300;
}
.section-third-buttons{
  padding-bottom: 120px;
}
.section-third-buttons__list{
  display:flex;
  justify-content: center;
  align-items:center;
  align-content:center;
  flex-wrap:wrap;
}
.section-third-buttons__item{
  padding:10px;
  margin:15px;
  font-family: Quicksand, sans-serif;
  text-transform: uppercase;
  font-size:15px;
  line-height: 23px;
  border:1px solid white;
  border-radius: 25px;
  font-weight: 600;
}
.section-third-buttons__item a{
  color:white;
}
.section-third-buttons__item a:hover{
text-decoration: none;
color:white;
}
.section-third-buttons__item--active{
background-color: white;
}
.section-third-buttons__item--active a{
  color:#223761;
}
.section-third-buttons__item--active a:hover{
  text-decoration: none;
  color:#223761;
}
.section-third-content{
  padding: 110px 130px 150px 130px;
  position:relative;
  width:100%;
  height: auto;
  display:flex;
  flex-direction: row;
}
.section-third-content-text{
  width:45%;
  padding-left: 80px;
}
.section-third-content-image{
  width:55%;
  height:470px;
  background: #D3D3D3;
  position:relative;
  margin-bottom: 30px;
}
  .section-third-content-text__title{
  font-size:22px;
  font-family: Quicksand-Medium, sans-serif;
  color:white;
  text-align: left;
  line-height: 15px;
  padding-bottom: 60px;
}
.section-third-content-text__description{
  font-size:24px;
  font-family: Quicksand, sans-serif;
  color:white;
  text-align: left;
  line-height: 38px;
  font-weight: 300;
}
.section-third-content-text__buttons{
  display:flex;
  width:100%;
  align-items: left;
  justify-content: flex-start;
  padding-top:70px;
}
.section-third-content-text__buttons--item-margin{
  margin-right: 15px;
}
.section-fourth{
  position:relative;
}
.section-fourth-background{
  background-image: url('../../../public/images/Bg-03.png');
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 120%;
  background-size: 100% 150%;
  bottom:0;
}
.section-fourth__description{
  padding-top:120px;
  padding-bottom: 140px;
}
.section-fourth-buttons__list{
  display:flex;
  justify-content: center;
  align-items:center;
  align-content:center;
  flex-wrap:wrap;
}
.section-fourth-buttons__item{
  padding:10px;
  margin:25px 10px 10px 25px;
  font-family: Quicksand, sans-serif;
  text-transform: uppercase;
  font-size:15px;
  line-height: 23px;
  border:1px solid white;
  border-radius: 25px;
  font-weight: 600;
}
.section-fourth-buttons__item a{
  color:white;
}
.section-fourth-buttons__item a:hover{
text-decoration: none;
color:white;
}
.section-fourth-buttons__item--active{
background-color: white;
}
.section-fourth-buttons__item--active a{
color: #333F4C;
}
.section-fourth-buttons__item--active a:hover{
  text-decoration: none;
  color:white;
}
.section-fourth-content{
  padding: 110px 130px 150px 130px;
  position:relative;
  width:100%;
  height: auto;
  display:flex;
  flex-direction: row;
}
.section-fourth-content-text{
  width:45%;
  padding-right: 80px;
}
.section-fourth-content-image{
  width:55%;
  height:470px;
  background: #D3D3D3;
  position:relative;
  margin-bottom: 30px;
}
.section-fourth-content-text__title{
  font-size:22px;
  font-family: Quicksand, sans-serif;
  color:white;
  text-align: left;
  line-height: 15px;
  padding-bottom: 60px;
  font-weight: 500;
}
.section-fourth-content-text__description{
  font-size:24px;
  font-family: Quicksand, sans-serif;
  color:white;
  font-weight: 300;
  text-align: left;
  line-height: 38px;
}
.section-fourth-content-text__buttons{
  display:flex;
  width:100%;
  align-items: left;
  justify-content: flex-start;
  padding-top:150px;
}
.section-fourth-content-text__buttons--item-margin{
  margin-right: 15px;
}
.connect-box-table__wrap:before {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    background-color: #ADB5C9;
    right: 0;
    margin-right: 60px;
}
.connect-box-table__wrap:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    border: 2px solid #3ecf8e;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    right: 0;
    top: -3px;
    margin-right: 56px;
}
.connect-box-table__wrap--second:before {
    left: 24%;
}
.connect-box-table__wrap--second:after {
    left: 24%;
}
