<div>
  <div class="header">
    <div class="bgc bgc-blue"></div>
      <div class="container">
        <div class="container-flex">
          <div class="header-wrap-text">
            <h1 class="header-wrap-text__title">
              A complete solution to launch genetic product
            </h1>
            <p class="header-wrap-text__subtitle">
              ixLayer is a technology infrastructure and an end-to-end solution for healthcare,
               wellness, nutrition and lifestyle companies to offer range of customized genetic products or test.
            </p>
            <div class="header-wrap-text__buttons">
              <button class="bt bt-green font-middle bt-left bt-margin-right ">EXPLORE SOLUTIONS</button>
              <button class="bt gray font-middle bt-left">REQUEST A DEMO</button>
            </div>
            <div class="header-wrap-text-block">
              <h2 class="header-wrap-text-block__title">The tipping point of an market</h2>
              <p class="header-wrap-text-block__subtitle">Genetics will be an obvious personalization factor for consumer products in the future,
                 but this future is already here and the opportunity is now. Here are the reasons</p>
            </div>
          </div>
          <div class="header-wrap-img">
            <div class="header-wrap-img__first">
              <img src="../../../public/images/iPhone.png" alt="">
            </div>
            <div class="header-wrap-img__second">
              <img src="../../../public/images/iPhone.png" alt="">
            </div>
          </div>
        </div>
        <div class="section-first-technologies">
          <div class="section-first-technologies__wrap">
            <v-layout row wrap>
              <v-flex lg3 md6 sm6 xs12>
                  <div class="technologies__img">
                    <img src="" alt="">
                  </div>
                <div class="technologies__about">
                  <h3>Price Elasticity</h3>
                  <p>Illumina new technology drives the cost of DNA sequencing cost to below $100</p>
                </div>
              </v-flex>
              <v-flex lg3 md6 sm6 xs12>
                <div class="technologies__img">
                  <img src="" alt="">
                </div>
                <div class="technologies__about">
                  <h3>Platform</h3>
                  <p>Helix platform removes burden of having genomic lab and the  bioinformatic pipeline</p>
                </div>
              </v-flex>
              <v-flex lg3 md6 sm6 xs12>
                <div class="technologies__img">
                  <img src="" alt="">
                </div>
                <div class="technologies__about">
                  <h3>Increasing Demand</h3>
                  <p>Genetic product was one of the five best-selling products on Amazon during the holiday season</p>
                </div>
              </v-flex>
              <v-flex lg3 md6 sm6 xs12>
                <div class="technologies__img">
                  <img src="" alt="">
                </div>
                <div class="technologies__about">
                  <h3>Market Growth</h3>
                  <p>Startups and Industry leaders saw 3x-10x exponential growth in 2017</p>
                </div>
              </v-flex>
            </v-layout>
          </div>
        </div>
      </div>
  </div>

  <section class="first-section">
    <div class="container">
      <div class="first-section-wrap">
        <h2 class="first-section-wrap__title">A platform for genetic products</h2>
        <v-layout row wrap>
          <v-flex lg5 md5 sm5 xs12>
            <div class="first-section-wrap__main-text">
                <h3>Launching a genetic product is technically complex, costly, time consuming, resource heavy, and regulatory challenging</h3>
            </div>
          </v-flex>
          <v-flex lg1 md1 sm1 xs0>
          </v-flex>
          <v-flex lg6 md6 sm6 xs12>
            <div class="first-section-wrap__text">
              <p>IxLayer builds the most powerful and flexible tools for genetic companies to solve all of that.
                 Whether you’re launching a genetic nutrition app, wellness genetic product, or an Alzheimer's healthcare tes,
                  Ixlayer’s end-to-end mobile and web solution or ixlayer’s infrastructure solution will help you create the best possible product
                   for your users.</p>
            </div>
          </v-flex>
        </v-layout>
      </div>
    </div>
    <div class="first-section__img"></div>
    <div class="container">
      <div class="first-section-text">
        <v-layout row wrap>
          <v-flex lg4 md4 sm6 xs12>
            <div class="first-section-text__item">
                <img src="../../../public/images/Icon-01.png" class="first-section-text__item--image">
                <h3>Integrated</h3>
                <p>Full integrated with the ecosystem, IxLayer provides a complete set of genetic service building blocks to support virtually any application.
                </p><br><p> These service blocks includes Helix Sequencing lab, Physician Networks, ondemand Genetic counsellors, Apple Health- & Research Kit,
                CLIA Certification for your products, and more...</p>
            </div>
          </v-flex>
          <v-flex lg4 md4 sm6 xs12>
            <div class="first-section-text__item">
              <div class="first-section-text__item--image">
                <img src="../../../public/images/Icon-02.png" >
              </div>
                <h3>Customizable</h3>
                <p>Either choose the Ixlayer-infrastructure solution and easily integrate with your existing platform, or choose the ixlayer End-To-End
                  solution and have our product team work with you to create the best design and user experience across web and IOS. </p>
            </div>
          </v-flex>
          <v-flex lg4 md4 sm6 xs12>
            <div class="first-section-text__item">
              <img src="../../../public/images/Icon-03.png" class="first-section-text__item--image">
                <h3>Operation Not Needed</h3>
                <p>All Ixlayer products are fully maintained by our team so that you no longer need to worry about operation resources.
                  This includes platform updates, Integration and certificate management, Source code updates, monitoring & logs, security patching, post launch change, CLIA audits, and more...
                </p>
            </div>
          </v-flex>
        </v-layout>
      </div>
    </div>
  </section>

  <section class="second-section">
    <div class="second-section-background"></div>
    <div class="second-section-inner">
      <v-container>
        <v-layout row wrap>
          <v-flex lg12>
            <div class="second-section-title">
              <div class="second-section-title__icon">
                <span class="icon-inner"></span>
              </div>
              <div class="second-section-title__text">
                <h2>Focus on the science and your users, <br>Not on infrastructure</h2>
              </div>
            </div>
          </v-flex>
        </v-layout>
          <div class="connect-box-wrap">
            <v-layout row wrap>
            <v-flex lg6 md12 sm12 xs12 class="box-padding">
              <div class="connect-box">
                <div class="connect-box__title bgc-gray">
                  <h4>WITHOUT CONNECT</h4>
                </div>
                <div class="connect-box__text">
                  <p>Without ixLayer developing a genetic product includes integration with genetic labs and a physician-network, backend-,
                    frontend- and mobile development, security and encryption, cloud architecture, CLIA compliance, and operation.</p>
                </div>
                <div class="connect-box-table">
                  <ul class="connect-box-table__wrap">
                    <li class="connect-box-table__item">
                      <div class="connect-box-table__label connect-box-table__label--first">
                        <span class="label label--blue">
                          PRODUCT CONCEPT
                        </span>
                      </div>
                    </li>
                    <li class="connect-box-table__item">
                      <div class="connect-box-table__label connect-box-table__label--second">
                        <span class="label label--purple">
                          WEB & MOBILE DEVELOPMENT
                        </span>
                      </div>
                    </li>
                    <li class="connect-box-table__item">
                      <div class="connect-box-table__label connect-box-table__label--third">
                        <span class="label label--pink">
                          CLOUD ARCHITECTURE
                        </span>
                      </div>
                    </li>
                    <li class="connect-box-table__item">
                      <div class="connect-box-table__label connect-box-table__label--four">
                        <span class="label label--orange">
                          SCIENTIFIC EVALUATION
                        </span>
                      </div>
                    </li>
                    <li class="connect-box-table__item">
                      <div class="connect-box-table__label connect-box-table__label--five">
                        <span class="label label--red">
                          TESTING
                        </span>
                      </div>
                    </li>
                    <li class="connect-box-table__item">
                      <div class="connect-box-table__label connect-box-table__label--six">
                        <span class="label label--green">
                          LIVE
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </v-flex>
            <v-flex lg6 md12 sm12 xs12 class="box-padding">
              <div class="connect-box">
                <div class="connect-box__title bgc-green">
                  <h4>WITH IXLAYER</h4>
                </div>
                <div class="connect-box__text">
                  <p>With ixLayer, all that is needed is your scientific and clinical knowledge.
                    Focus on your business strategy, go to market strategy, and launching revenue-generating products within fraction of the cost and time.</p>
                </div>
                <div class="connect-box-table">
                  <ul class="connect-box-table__wrap connect-box-table__wrap--second">
                    <li class="connect-box-table__item">
                      <div class="connect-box-table__label connect-box-table__label--first">
                        <span class="label label--blue">
                          SCIENCE
                        </span>
                      </div>
                    </li>
                    <li class="connect-box-table__item">
                      <div class="connect-box-table__label connect-box-table__label--second align-center">
                        <span class="label label--green label--green-big">
                          LIVE
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </v-flex>
          </v-layout>
        </div>
      </v-container>
    </div>
  </section>
  <section class="section-third">
    <div class="section-third-background"></div>
    <div class="container">
      <v-layout row wrap>
        <v-flex lg12 md12 sm12 xs12>
          <div class="section-third__title title-border">
            END TO END SOLUTION
          </div>
          <div class="section-third__description">
            <p class="section-third__description-text text-description">
IxLayee End-to-end solution is everything you need to launch a genetic
 product. All that is needed from your side is the scientific claims
  and Ixlayer will provide you best in class,
 web and mobile, user friendly genetic products with in 3 weeks.
            </p>
          </div>
          <div class="section-third-buttons">
            <ul class="section-third-buttons__list">
              <li class="section-third-buttons__item"><a href="#">CUSTOM PRODUCT DESIGN</a></li>
              <li class="section-third-buttons__item section-third-buttons__item--active"><a href="#">WEB AND MOBILE</a></li>
              <li class="section-third-buttons__item"><a href="#">INTEGRATED WITH THE ECOSYSTEM</a></li>
              <li class="section-third-buttons__item"><a href="#">STUFF</a></li>
            </ul>
          </div>
        </v-flex>
      </v-layout>
    </div>
    <div class="container-fluid">
      <div class="section-third-content">
            <div class="section-third-content-image"></div>
            <div class="section-third-content-text">
              <h5 class="section-third-content-text__title">Web and Mobile</h5>
              <p class="section-third-content-text__description">Custom web, mobile-web and Native IOS application built on top of ixLayer infrastructure with integration to Helix mobile SDK, Apple payment services, Apple Health & Research-kit integration, supporting one or multiple genetic products / tests.
              </p>
              <div class="section-third-content-text__buttons">
                <button class="bt purple section-third-content-text__buttons--item-margin">EXPLORE SOLUTION</button>
                <button class="bt gray section-third-content-text__buttons--item-margin">REQUEST A DEMO</button>
              </div>
            </div>
      </div>
    </div>
  </section>

  <section class="section-fourth">
    <div class="section-fourth-background"></div>
    <div class="container">
      <v-layout row wrap>
        <v-flex lg12 md12 sm12 xs12>
          <div class="section-fourth__title title-border">
            INFRASTRUCTURE SOLUTION
          </div>
          <div class="section-fourth__description">
            <p class="section-foutrh__description-text text-description">
We measure our success in how little code you have to write. ixLayer lets you spend your development time on your core feature, product improvements and ship them faster
            </p>
          </div>
          <div class="section-fourth-buttons">
            <ul class="section-fourth-buttons__list">
              <li class="section-fourth-buttons__item"><a href="#">FRONTEND API</a></li>
              <li class="section-fourth-buttons__item section-fourth-buttons__item--active"><a href="#">IOS LIBRARIES</a></li>
              <li class="section-fourth-buttons__item"><a href="#">OPEN SOURCE PLUGIN</a></li>
              <li class="section-fourth-buttons__item"><a href="#">DATA ROUTING</a></li>
              <li class="section-fourth-buttons__item"><a href="#">VERSIONED API</a></li>
              <li class="section-fourth-buttons__item"><a href="#">CLINICAL RESEASRCH</a></li>
              <li class="section-fourth-buttons__item"><a href="#">SECURITY</a></li>
              <li class="section-fourth-buttons__item"><a href="#">UPDATE & IMPROVEMENTS</a></li>
            </ul>
          </div>
        </v-flex>
      </v-layout>
    </div>
    <div class="container-fluid">
      <div class="section-fourth-content">
            <div class="section-fourth-content-text">
              <h5 class="section-fourth-content-text__title">IOS Libraries</h5>
              <p class="section-fourth-content-text__description">Open Source ios Cocoapods libraries to give you full visibility and add genetic to you exciting application. Take advantage of pre-made components to launch faster and simplify operations</p>
              <div class="section-fourth-content-text__buttons">
                <button class="bt purple section-fourth-content-text__buttons--item-margin">EXPLORE SOLUTION</button>
                <button class="bt gray section-fourth-content-text__buttons--item-margin">REQUEST A DEMO</button>
              </div>
            </div>
            <div class="section-fourth-content-image"></div>
      </div>
    </div>
  </section>
</div>
