<div>
  <aside class="left-panel">
    <nav class="navbar">
      <div class="navbar-header">
        <div class="navbar-concept">
          <div class="navbar-concept__logo">
            <img src="../../../public/images/Concept.png" alt="">
          </div>
          <div class="navbar-concept__text">
            <h1 class="txt-logo">CONCEPT</h1>
          </div>
        </div>
        <div class="navbar-user">
            <div class="navbar-user-image-wrap">
              <div class="navbar-user-image">
                <div class="navbar-user-image__picture">
                  <img src="../../../public/images/user-picture.png" alt="">
                  <div class="navbar-user-image-circle">
                    <div class="navbar-user-image-circle__text">7</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="navbar-user-about-wrap">
              <div class="navbar-user-about">
                <div class="navbar-user-about__title">Tyler Wain</div>
                <div class="navbar-user-about__text">
                  UI Designer &#149; Austin, TX.
                </div>
              </div>
            </div>
          </div>
        <div class="navbar-menu">
          <ul class="navbar-menu-list">
            <li class="navbar-menu-list__item">Dashboard</li>
            <li class="navbar-menu-list__item">Hardware</li>
            <li class="navbar-menu-list__item">Schedule</li>
            <li class="navbar-menu-list__item">Firmware</li>
            <li class="navbar-menu-list__item">System</li>
            <li class="navbar-menu-list__item">Monitoring</li>
            <li class="navbar-menu-list__item navbar-menu-list__item--active">Team</li>
            <li class="navbar-menu-list__item">Jobs</li>
          </ul>
        </div>
        <div class="navbar-menu-button">
          <a href="">
            <div class="navbar-menu-button-wrap">
              <div class="navbar-menu-button__logo">
                <img src="../../../public/images/Icon-btn.png" alt="">
              </div>
              <div class="navbar-menu-button__text">Settings</div>
            </div>
          </a>
        </div>
      </div>
    </nav>
  </aside>
  <div class="right-panel">
      <div class="search-box">
        <div class="search-box__inner">
          <div id="searchPlaceholder" class="search-box-placeholder">
            <span class="search-icon"> <i class="fas fa-search"></i> </span>Search for anything
          </div>
          <form class="dashboard-form" action="">
             <input id = "searchBox" type="text" class="fontAwesome" v-on:keyup="inputChange" value="">
           </form>
       </div>
      </div>
    <div class="right-container container-orange">
        <div class="navigation-buttons__wrap">
          <div class="navigation-buttons">
            <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
              <div class="navigation-buttons-block">
                <div class="navigation-buttons-block-inner">
                  <div class="navigation-buttons-block__text">Share Team Page</div>
                  <div class="navigation-buttons-block__icon">
                    <img src="../../../public/images/share-icon.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
              <div class="navigation-buttons-block">
                <div class="navigation-buttons-block-inner">
                  <div class="navigation-buttons-block__text">New event</div>
                  <div class="navigation-buttons-block__icon">
                    <img src="../../../public/images/calendar-icon.png" alt="">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
              <div class="navigation-buttons-block">
                <div class="navigation-buttons-block-inner">
                  <div class="navigation-buttons-block__text">Team Settings</div>
                  <div class="navigation-buttons-block__icon">
                    <img src="../../../public/images/settings-icon.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="graphics">
        <div class="graphics__wrap">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="graphics-block">
                <div id="tabs">
                  <div class="graphics-block-header">
                    <div class="graphics-block-header__inner">
                      <div class="graphics-block-header-text__inner graphics-block-header-text__inner--first">
                        <div class="graphics-block-header__title">Sales</div>
                        <div class="graphics-block-header__text">A constant monitor of all Team Sales</div>
                      </div>
                      <div class="graphics-block-header__tabs">
                        <div class="tabs">
                          <a v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]">Week</a>
                          <a v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'active' : '' ]">Month</a>
                          <a v-on:click="activetab=3" v-bind:class="[ activetab === 3 ? 'active' : '' ]">Year</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="graphics-block-line">
                  <div class="graphics-block-content">
                    <div v-if="activetab === 1" class="graphics-block-content__item green-block"></div>
                    <div v-if="activetab === 2" class="graphics-block-content__item gray-block"></div>
                    <div v-if="activetab === 3" class="graphics-block-content__item blue-block"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="graphics-block">
                  <div class="graphics-block-header">
                    <div class="graphics-block-header__inner">
                      <div class="graphics-block-header-text__inner">
                        <div class="graphics-block-header__title ">Efficiency</div>
                      </div>
                      <div class="graphics-block-header-calendar">
                        <div class="graphics-block-header-calendar__inner">
                          <div class="graphics-block-header-calendar__item calendar--first">
                            <datepicker ref="firstPicker" class = "graphics__datepicker--first"></datepicker>
                            <button @click="openFirstPicker" class="graphics__datepicker-icon"> <img src="../../../public/images/datepicker-icon.png" alt=""></button>
                          </div>
                          <div class="graphics-block-header-calendar__item">
                            <datepicker ref="secondPicker" class = "graphics__datepicker--second"></datepicker>
                            <button @click="openSecondPicker" class="graphics__datepicker-icon"> <img src="../../../public/images/datepicker-icon.png" alt=""></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="graphics-block-line">
                  <div class="graphics-block-content">
                    <div class="graphics-block-content__item gray-block"></div>
                  </div>
              </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
              <div class="graphics-block">
                <div class="graphics-block-header">
                  <div class="graphics-block-header__inner">
                    <div class="graphics-block-header-text__inner">
                      <div class="graphics-block-header-text__inner--table">
                        <div class="graphics-block-header__title graphics-block-header__title--table">Employees</div>
                        <div class="graphics-block-header__msg-box">
                          <span class="graphics-block-header__msg-box__number">12</span>
                        </div>
                      </div>
                    </div>
                    <div class="graphics-block-header-reload__inner">
                      <div class="graphics-block-header-reload">
                        <div class="graphics-block-header-reload__img">
                          <img src="../../../public/images/reload.png" alt="">
                        </div>
                        <div class="graphics-block-header-reload__text">Reload</div>
                        <div class="graphics-block-header-reload__new">
                          <span class="gradient__new">NEW</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="graphics-block-line">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th class="table-header__item table-cell">Employee
                          <span class="table-header__item-image">
                            <img src="../../../public/images/table-arrow.png" alt="">
                          </span>
                        </th>
                        <th class="table-cell">Location</th>
                        <th class="table-cell">Department</th>
                        <th class="table-cell">Sales</th>
                        <th class="table-cell">Pay (YTD)</th>
                        <th class="table-cell">Contact</th>
                        <th class="table-cell">Social</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <div class="table-cell">
                            <span class="table-image">
                              <img src="../../../public/images/user-picture.png" alt="">
                            </span>
                            Anna K.
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">Seattle, WA. USA</div>
                        </td>
                        <td>
                          <div class="table-cell"><span class="table-circle table-circle--yellow"></span>Marketing</div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="sales-block">
                              <img src="../../../public/images/SW-arrow.png" alt="">
                              435 Sales
                            </div>
                            <p class="sales-persent sales-persent--green sales-pesent--padding">+9% than avg.</p>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="sales-block">
                              $43,500
                            </div>
                            <p class="sales-persent sales-persent-green">+5,000 commission</p>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="contact-block">
                              <div class="contact-block__item">Phone</div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="social-block">
                              <div class="social-block__item"><img src="../../../public/images/linkedin-icon.png" alt=""></div>
                              <div class="social-block__item"><img src="../../../public/images/twitter-icon.png" alt=""></div>
                              <div class="social-block__item"><img src="../../../public/images/facebook-icon.png" alt=""></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="table-cell">
                            <span class="table-image">
                              <img src="../../../public/images/user-picture.png" alt="">
                            </span>
                            Bethany D.
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">Bend, OR. USA</div>
                        </td>
                        <td>
                          <div class="table-cell"><span class="table-circle table-circle--turquoise"></span>Sales</div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="sales-block">
                              <img src="../../../public/images/SW-arrow.png" alt="">
                              242 Sales
                            </div>
                            <p class="sales-persent sales-persent--green sales-pesent--padding">+1% than avg.</p>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="sales-block">
                              $43,500
                            </div>
                            <p class="sales-persent sales-persent-green">+125 commission</p>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="contact-block">
                              <div class="contact-block__item">Phone</div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="social-block">
                              <div class="social-block__item"><img src="../../../public/images/linkedin-icon.png" alt=""></div>
                              <div class="social-block__item"><img src="../../../public/images/twitter-icon.png" alt=""></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="table-cell">
                            <span class="table-image">
                              <img src="../../../public/images/user-picture.png" alt="">
                            </span>
                            Luke C.
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">Bellevue, WA. USA</div>
                        </td>
                        <td>
                          <div class="table-cell"><span class="table-circle table-circle--pink"></span>Development</div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="sales-block">
                              <img src="../../../public/images/NW-arrow.png" alt="">
                              98 Sales
                            </div>
                            <p class="sales-persent sales-persent--red sales-pesent--padding">-12% than avg.</p>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="sales-block">
                              $43,500
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="contact-block">
                              <div class="contact-block__item contact-block__item--margin">Phone</div>
                              <div class="contact-block__item">Email</div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="social-block">
                              <div class="social-block__item"><img src="../../../public/images/linkedin-icon.png" alt=""></div>
                              <div class="social-block__item"><img src="../../../public/images/twitter-icon.png" alt=""></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="table-cell">
                            <span class="table-image">
                              <img src="../../../public/images/user-picture.png" alt="">
                            </span>
                            Stephen O.
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">Santa Clara, CA. USA</div>
                        </td>
                        <td>
                          <div class="table-cell"><span class="table-circle table-circle--turquoise"></span>Sales</div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="sales-block">
                              <img src="../../../public/images/SW-arrow.png" alt="">
                              510 Sales
                            </div>
                            <p class="sales-persent sales-persent--green sales-pesent--padding">+11% than avg.</p>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="sales-block">
                              $51,000
                            </div>
                            <p class="sales-persent sales-persent-green">+2000 commission</p>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="contact-block">
                              <div class="contact-block__item">Phone</div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="social-block">
                              <div class="social-block__item"><img src="../../../public/images/linkedin-icon.png" alt=""></div>
                              <div class="social-block__item"><img src="../../../public/images/twitter-icon.png" alt=""></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div class="table-cell">
                            <span class="table-image">
                              <img src="../../../public/images/user-picture.png" alt="">
                            </span>
                            Tyler W.
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">Austin, TX. USA</div>
                        </td>
                        <td>
                          <div class="table-cell"><span class="table-circle table-circle--blue"></span>Design</div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="sales-block">
                              <img src="../../../public/images/SW-arrow.png" alt="">
                              624 Sales
                            </div>
                            <p class="sales-persent sales-persent--red sales-pesent--padding">+16% than avg.</p>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="sales-block">
                              $77,525
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="contact-block">
                              <div class="contact-block__item contact-block__item--margin">Phone</div>
                              <div class="contact-block__item">Email</div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="table-cell">
                            <div class="social-block">
                              <div class="social-block__item"><img src="../../../public/images/linkedin-icon.png" alt=""></div>
                              <div class="social-block__item"><img src="../../../public/images/twitter-icon.png" alt=""></div>
                              <div class="social-block__item"><img src="../../../public/images/facebook-icon.png" alt=""></div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
              <div class="graphics-block">
                <div class="graphics-block-header">
                  <div class="graphics-block-header__inner">
                    <div class="graphics-block-header-text__inner">
                      <div class="graphics-block-header-text__inner--table">
                        <div class="graphics-block-header__title graphics-block-header__title--table">Locations</div>
                        <div class="graphics-block-header__msg-box--second">
                          <span class="graphics-block-header__msg-box__number number-align">4</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="graphics-block-line">
                <div class="graphics-block-grid">
                  <div class="graphics-block-grid-container">
                    <div class="graphics-block-grid-container__item">
                      <div class="graphics-block-grid-container__item-text">
                        <span class="graphics-block-grid-container__item-text__state">California</span>
                        <span class="graphics-block-grid-container__item-text__city">Santa Clara</span>
                      </div>
                    </div>
                    <div class="graphics-block-grid-container__item">
                      <div class="graphics-block-grid-container__item-text">
                        <span class="graphics-block-grid-container__item-text__state">Texas</span>
                        <span class="graphics-block-grid-container__item-text__city">Austin</span>
                      </div>
                    </div>
                    <div class="graphics-block-grid-container__item">
                      <div class="graphics-block-grid-container__item-text">
                        <span class="graphics-block-grid-container__item-text__state">Oregon</span>
                        <span class="graphics-block-grid-container__item-text__city">Bend</span>
                      </div>
                    </div>
                    <div class="graphics-block-grid-container__item">
                      <div class="graphics-block-grid-container__item-text">
                        <span class="graphics-block-grid-container__item-text__state">Washington</span>
                        <span class="graphics-block-grid-container__item-text__city">Bellevue, Tacoma, Seattle</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

</div>
