@import "../../scss/partials/variables";
.green-block{
  width:100%;
  height: 100%;
  background-color: green;
}
.gray-block{
  width:100%;
  height: 100%;
  background-color: $dashboard-gray;
}
.blue-block{
  width:100%;
  height: 100%;
  background-color: $dashboard-blue-dark;
}

.left-panel{
  margin:0;
  padding:0;
  width:250px;
  display:table-cell;
}
.navbar{
  padding:0 !important;
}
.navbar-concept{
  width:250px;
  background-color: $dashboard-blue;
  height: 60px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.navbar-concept__logo{
  width:24px;
  height: 27.6px;
  padding: 0 45px 0 0px;
}
.navbar-user{
  width:250px;
  height:120px;
  background-color: $dashboard-blue-dark;
  display:flex;
  align-items:center;
}
.navbar-user-image-wrap{
  margin-left:20px;
  margin-right:17px;
}
.navbar-user-image{
  width:43px;
  height:44px;
  position:relative;
}
.navbar-user-image__picture img{
  width:40px;
  height:40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left:0;
  bottom:0;
}
.navbar-user-image-circle{
  width:16px;
  height:16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border:1px solid white;
  position:absolute;
  background-color: $dashboard-blue;
  bottom:28px;
  right:0;
  display:flex;
  align-items:center;
  justify-content: center;
}
.navbar-user-image-circle__text{
  font-family:Roboto, sans-serif;
  font-weight:300;
  font-size:12px;
  color:white;
}
.navbar-user-about-wrap{
  margin-right:15px;
}
.navbar-user-about{
  position: relative;
  display: inline-block;
}
.navbar-user-about__title{
  color:white;
  font-family:Roboto, sans-serif;
  font-weight:500;
  font-size:18px;
  text-align: left;
}
.navbar-user-about__text{
  font-family:Roboto, sans-serif;
  font-weight:300;
  font-size:12px;
  color:white;
  text-align: left;
}
.navbar-menu-list{
  width:250px;
  padding: 108px 30px 270px 70px;
  margin:0;
}
.navbar-menu-list__item{
  font-size:24px;
  color: $dashboard-gray;
  font-family: Roboto, sans-serif;
  line-height: 32px;
  padding-bottom: 30px;
  text-align: left;
  font-weight: 100;
}
.navbar-menu-list__item:last-child{
  padding-bottom: 0;
}
.navbar-menu-button{
  background-color: $dashboard-blue;
  width:250px;
  height: 60px;
  margin-right: 17px;
}
.navbar-menu-button-wrap{
  display:flex;
  align-items: center;
  justify-content: center;
  width:100%;
  height: 100%;
}
.navbar-menu-button__logo{
  width:24px;
  height: 27.6px;
  padding: 0 45px 0 0px;
}
.navbar-menu-button__text{
  font-size:26px;
  color: $white;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-weight:300;
  line-height: 34px;
}
.navbar-menu-button a:hover{
  text-decoration: none;
}

.right-panel{
  min-width:calc(100% - 250px);
  width:100%;
  margin: 0;
  padding: 0;
  display:table-cell;
}
.search-box{
  width:100%;
  height:64px;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size:18px;
  color: $dashboard-gray-text;
  display:flex;
  align-items: center;
  justify-content: center;
}
.search-icon{
  margin-right: 20px;
}
.search-box:hover .search-icon{
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.search-box__inner{
  width:100%;
  height: 100%;
  position: relative;
}
.search-box-placeholder{
  position:absolute;
  left:41%;
  bottom:30%;
  display:block;
}
.fontAwesome {
  font-family: Helvetica, 'FontAwesome', sans-serif;
  width:100%;
  height: 100%;
}
.dashboard-form{
  width:100%;
  height: 100%;
}
.right-container{
  width:100%;
  height: 1005px;
}
.container-orange{
background-color: #FFFAFA;
}
.navigation-buttons__wrap{
  padding:30px;
}
.navigation-buttons-block{
  max-width:517px;
  width:100%;
  max-height: 60px;
  height: 100%;
  display:block;
  background-color: $dashboard-blue;
}
.navigation-buttons-block-inner{
  padding: 10px 30px 10px 30px;
  display:flex;
  justify-content: space-between;
}
.navigation-buttons-block__text{
  font-size:26px;
  color: $white;
  font-family: Roboto, sans-serif;
  text-align: left;
  font-weight:300;
  line-height: 34px;
}
.navigation-buttons-block__icon{
  width:36px;
  height: 36px;
}
.graphics__wrap{
  margin: 0 30px 30px 30px;
}
.graphics-block{
  background-color: $white;
}
.graphics-block-header{
  display:flex;
  align-items:center;
  width:100%;
  height: 89px;
}
.graphics-block-header__inner{
  padding: 0 30px 0 30px;
  display:flex;
  justify-content: space-between;
  width:100%;
}
.graphics-block-header-text__inner{
  display:block;
}
.graphics-block-header-text__inner--table{
  display:flex;
  flex-direction: row;
}
.graphics-block-header__title--table{
  padding-right: 15px;
}
.graphics-block-header-text__inner--first{
  padding-top: 25px;
}
.graphics-block-header__tabs{
  display: block;
}
.graphics-block-header__tabs{
  display:flex;
  align-items: center;
}
.tabs a{
    cursor: pointer;
    margin-right:30px;
}
.tabs a:last-child{
  margin-right: 0;
}
.graphics-block-header__title{
  font-size:26px;
  color: $dashboard-gray-text-2;
  font-family: Roboto, sans-serif;
  text-align: left;
  font-weight:300;
  line-height: 34px;
}
.graphics-block-header__text{
  font-size:18px;
  color: $dashboard-gray-text-2;
  font-family: Roboto, sans-serif;
  text-align: left;
  font-weight:300;
  line-height: 24px;
}
.tabs__link{
  font-size:18px;
  color: $dashboard-gray-text-2;
  font-family: Roboto, sans-serif;
  text-align: right;
  font-weight:300;
  line-height: 24px;
}
.tabs .active{
  border-bottom: 2px solid $dashboard-blue;
}
.graphics-block-line{
  border:1px solid #E0E3DA;
  box-shadow: 0 3px 0 2px rgba(0,0,0,0.034)
}
.graphics-block-content{
  width:100%;
  height: 280px;
}
.graphics-block-header-calendar__item{
  background-color: $white;
  border:1px solid $dashboard-gray-text;
  height: 38px;
}
.graphics-block-header-calendar__inner{
  display:flex;
  flex-direction: row;
  position:relative;
}
.calendar--first{
  margin-right: 15px;
}
.graphics-block-header-calendar__item{
  position:relative;
  width:200px;
}
.graphics__datepicker--first::before{
  content: 'From: ';
  color:$dashboard-blue;
  font-family: Roboto, sans-serif;
  font-weight:600;
  font-size:14px;
  position: absolute;
  padding-left: 10px;
  padding-top: 8px;
  text-transform: uppercase;
}
.graphics__datepicker--second::before{
  content: 'To: ';
  color:$dashboard-blue;
  font-family: Roboto, sans-serif;
  font-weight:600;
  font-size:14px;
  position: absolute;
  padding-left: 10px;
  padding-top: 8px;
  text-transform: uppercase;
}
.graphics-block-header-calendar input{
  text-align: center;
  padding:8px 0 0 30px;
}
.graphics__datepicker-icon{
  background-color: $dashboard-blue;
  width:36px;
  height: 36px;
  text-align: center;
  position:absolute;
  left:163px;
  top:0;
}
.graphics-block-header__msg-box{
  width:25px;
  height: 18px;
  background-color: $dashboard-blue-dark;
  border-radius: 9px;
  position:relative;
  margin-top: 5px;
}
.graphics-block-header__msg-box--second{
  width:18px;
  height: 18px;
  background-color: $dashboard-blue-dark;
  border-radius: 9px;
  position:relative;
  margin-top: 5px;
}
.graphics-block-header__msg-box__number{
  color:$gray-ligth;
  font-family: Roboto, sans-serif;
  font-weight:600;
  position:absolute;
  text-align: left;
  top:0;
  left:5px;
  font-size:12px;
  line-height: 16px;
}
.number-align{
  padding-left: 1px;
}
.graphics-block-header-reload{
  display:flex;
  flex-direction: row;
  align-items: center;
}
.graphics-block-header-reload__text{
  font-family: Roboto, sans-serif;
  font-weight:300;
  font-size:18px;
  text-align: left;
  line-height: 24px;
  color:$dashboard-gray-text;
  padding: 0 30px 0 10px;
}
.graphics-block-header-reload__new{
  position:relative;
  font-family: Roboto, sans-serif;
  font-weight:300;
  font-size:12px;
  line-height:16px;
  color:$dashboard-gray-text-2;
  padding:10px 30px;
  width: 25px;
  height: 25px;
  border-left: 2px solid #3acad5;
  border-right: 2px solid #c53ad5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 0 100% ;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 2px;
  -moz-background-size: 100% 2px;
  background-size: 100% 2px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=),url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhNGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(left, #3acad5 0%, #c53ad5 100%), -webkit-linear-gradient(left, #3acad5 0%, #c53ad5 100%);
  background-image: -moz-linear-gradient(left, #3acad5 0%, #c53ad5 100%), -moz-linear-gradient(left, #3acad5 0%, #c53ad5 100%);
  background-image: -o-linear-gradient(left, #3acad5 0%, #c53ad5 100%), -o-linear-gradient(left, #3acad5 0%, #c53ad5 100%);
  background-image: linear-gradient(to right, #3acad5 0%, #c53ad5 100%), linear-gradient(to right, #3acad5 0%, #c53ad5 100%);
}
.gradient__new{
  position:absolute;
  text-align: center;
  left:16px;
  top:6px;
}
.table-image img{
  width:30px;
  height: 30px;
}
th{
  font-family: Roboto, sans-serif;
  font-weight:100;
  font-size:14px;
  color:$dashboard-gray-text-2;
  text-align: left;
}
.table-header__item{
  font-weight: 300;
}
td{
  font-family: Roboto, sans-serif;
  font-weight:300;
  font-size:14px;
  color:$dashboard-gray-text-2;
}
.table-cell{
  text-align: left;
  width:110px;
}
.sales-persent{
  font-family: Roboto, sans-serif;
  font-weight:100;
  font-size:12px;
  font-style: italic;
  color:#2EB934;
}
.sales-persent--green{
  color:#2EB934;
}
.sales-persent--red{
  color:#FF0000;
}
.sales-pesent--padding{
  padding-left: 16px;
}
.contact-block{
  display:flex;
}
.contact-block__item{
  width:50px;
  height: 26px;
  background-color: #109BF8;
  color:white;
  font-family: Roboto, sans-serif;
  font-weight:300;
  font-size:14px;
  text-align: center;
  padding-top:2px;
}
.contact-block__item--margin{
  margin-right: 10px;
}
.social-block{
  display:flex;
}
.social-block__item{
  padding-right: 10px;
}
.table-circle{
  width:10px;
  height: 10px;
  border-radius: 50%;
  position:relative;
  margin-right: 5px;
  padding: 0px 8px 0px 7px;
}
.table-circle--yellow{
background-color: #FFBB03;
}
.table-circle--turquoise{
  background-color: #38ADB6;
}
.table-circle--pink{
  background-color: #E211F4;
}
.table-circle--blue{
  background-color: #109BF8;
}
.graphics-block-grid{
  width:100%;
  height: 376px;
}
.graphics-block-grid-container{
  width:100%;
  padding:15px;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
}
.graphics-block-grid-container__item{
  width:48%;
  height: 100px;
  background-color: $dashboard-gray-text;
  position:relative;
  margin-bottom: 10px;
}
.graphics-block-grid-container__item-text{
  position:absolute;
  color: $white;
  display:flex;
  flex-direction: column;
  bottom:10px;
  left:5px;
  text-align: left;
}
.graphics-block-grid-container__item-text__state{
  font-family: Roboto, sans-serif;
  font-weight:100;
  font-size:14px;
}
.graphics-block-grid-container__item-text__city{
  font-family: Roboto, sans-serif;
  font-weight:500;
  font-size:10px;
}
