<template>
  <div class="footer-wrap">
    <div class="container">
      <div class="row">
        <div class="footer">
            <div class="footer-main footer-block">
              <div class="footer-main__title">
                Placeholder
              </div>
              <div class="footer-main__text">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
              <div class="footer-main__button">
                <button class="bt blue">REQUEST DEMO</button>
              </div>
            </div>
            <div class="footer-about-block footer-block">
              <div class="footer-about-block__title">PRODUCTS</div>
              <ul>
                <li class="footer-about-block__item">End-to-End solution</li>
                <li class="footer-about-block__item">Infrastructure solution</li>
                <li class="footer-about-block__item">Data & Machine learning</li>
                <li class="footer-about-block__item">CLIA & Regulatory</li>
              </ul>
            </div>
            <div class="footer-about-block footer-block">
              <div class="footer-about-block__title">DEVELOPER PORTAL</div>
              <ul>
                <li class="footer-about-block__item">Design & content</li>
                <li class="footer-about-block__item">API documentation</li>
                <li class="footer-about-block__item">IOS documentation</li>
                <li class="footer-about-block__item">Data & Machine learning</li>
              </ul>
            </div>
            <div class="footer-about-block footer-block">
              <div class="footer-about-block__title">COMPANY</div>
              <ul>
                <li class="footer-about-block__item">About</li>
                <li class="footer-about-block__item">Mission & Values</li>
                <li class="footer-about-block__item">Our partners</li>
              </ul>
            </div>
            <div class="footer-about-block footer-block">
              <div class="footer-about-block__title">RESOURCES</div>
              <ul>
                <li class="footer-about-block__item">Contact us</li>
                <li class="footer-about-block__item">Sign in</li>
                <li class="footer-about-block__item">Data & Machine learning</li>
                <li class="footer-about-block__item">Privacy & Terms</li>
              </ul>
            </div>
          </div>
          <div class="footer-rights">
            <p>© 2018 ix Layer</p>
          </div>
        </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "../scss/partials/variables";
@import "../scss/partials/media";
.footer-wrap{
  padding-top: 110px;
}
.footer{
  display:flex;
  justify-content: space-between;
  width:100%;
  height:auto;
  flex-wrap:wrap;
  align-items: flex-start;
}
.footer-block{
  width:19%;
  margin-bottom:20px;
}
.footer-main__title{
  color:$blue;
  font-size:14px;
  line-height: 17px;
  text-align: left;
  font-family: Quicksand, sans-serif;
  padding-bottom: 20px;
  font-weight: 600;
}
.footer-main__text{
  font-family: Quicksand, sans-serif;
  color:#8898AA;
  font-size:14px;
  line-height: 29px;
  text-align: left;
  padding-bottom: 10px;
  font-weight: 300;
}
.footer-about-block__title{
  color:#657E97;
  font-size:14px;
  line-height: 17px;
  text-align: left;
  font-family: Quicksand, sans-serif;
  text-transform: uppercase;
  padding-bottom: 20px;
  padding-left:20px;
  font-weight: 600;
}
.footer-about-block__item{
  color:#8898AA;
  font-family: Quicksand, sans-serif;
  line-height: 18px;
  text-align: left;
  font-size:14px;
  padding-bottom: 20px;
  font-weight: 500;
}
.footer-main__button{
  width:100%;
  text-align: left;
}
.footer-rights{
  width:100%;
  font-family: Quicksand, sans-serif;
  text-align: right;
  font-size:14px;
  line-height: 17px;
  color: #8898AA;
  padding-right: 60px;
  font-weight: 300;
}
</style>
