<template>
  <div class="header">
      <div class="header-mobile">
        <div class="mobile-row">
          <div class="mobile__logo">
            <a class="logo-img" href="#"> <img src="../../public/images/ixlayer-logo-white.png" alt=""></a>
          </div>
            <div class="mobile-menu-button">
              <button class="mobile-toggle" v-on:click="openMenu">
                <i class="fas fa-bars"></i>
              </button>
            </div>
          </div>
        <div class="mobile-menu" style="display: none; transform: scale(0.95); opacity: 0;">
          <div class="mobile-menu__wrap" >
            <div class="mobile-menu__button-close">
              <button class="mobile-toggle-close" v-on:click="closeMenu">
                X
              </button>
            </div>
            <div class="container">
              <div class="row">
                <div class="mobile-menu-content">
                  <div class="mobile-menu__title">
                    <h3>Products</h3>
                  </div>
                  <ul class="mobile-menu-top-link">
                    <li class="mobile-menu-top-link__item">
                      <a href="" class="mobile-menu-top-link__link">
                        <div class="mobile-menu-top-link__image">
                          <img src="../../public/images/icon-ix360.png" class="image-circle">
                        </div>
                        <div class="mobile-menu-top-link__text">ix360</div>
                      </a>
                    </li>
                    <li class="mobile-menu-top-link__item">
                      <a href="" class="mobile-menu-top-link__link">
                        <div class="mobile-menu-top-link__image">
                          <img src="../../public/images/icon-ixAnypoint.png" class="image-circle">
                        </div>
                        <div class="mobile-menu-top-link__text">ixAnypoint</div>
                      </a>
                    </li>
                  </ul>
                  <ul class="mobile-menu-bottom-link">
                    <li class="mobile-menu-bottom-link__item"><a href="" class="mobile-menu-bottom-link__link">Home</a></li>
                    <li class="mobile-menu-bottom-link__item"><a href="" class="mobile-menu-bottom-link__link">Developers</a></li>
                    <li class="mobile-menu-bottom-link__item"><a href="" class="mobile-menu-bottom-link__link">About</a></li>
                    <li class="mobile-menu-bottom-link__item"><a href="" class="mobile-menu-bottom-link__link">Contact</a></li>
                  </ul>
                  <div class="mobile-menu__sign-in">
                    <div class="auth">
                      <a href="#" class="auth__mobile-menu">Sign in</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="header-wide">
    <div class="container">
        <div class="header-menu">
          <v-container grid-list-md text-xs-center>
             <v-layout row wrap class="list container-flex container-flex-vm">
            <v-flex xs4 sm2 md2 lg2>
              <div class="header-menu__item">
                <a class="logo-img" href="#"> <img src="../../public/images/ixlayer-logo-white.png" alt=""></a>
              </div>
        </v-flex>

        <v-flex xs0 sm7 md7 lg7>
          <ul class="header-menu-list container-flex container-flex-vm padding-top">
            <li class="header-menu-list__item">
              <div class="header-menu__link">
                <span class="header-menu-list__item--link">Products</span>
                <div class="header-menu-dropdown">
                  <div class="header-menu-dropdown__menu">
                    <div class="menu">
                      <ul class="menu__wrap">
                        <li class="menu__item">
                          <a href="#" class="menu__link">
                            <div class="menu-link">
                              <div class="menu-link__image ">
                                <img src="../../public/images/icon-ix360.png" class="image-circle">
                              </div>
                              <div class="menu-text">
                                <div class="menu-text__title">
                                  <div class="title-seventh">ix360</div>
                                </div>
                                <div class="menu-text__description">
                                  <div class="text-about">An end-to-end web & mobile solution for your genetic product</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li class="menu__item">
                          <a href="#" class="menu__link">
                            <div class="menu-link">
                              <div class="menu-link__image">
                                <img src="../../public/images/icon-ixAnypoint.png" class="image-circle">
                              </div>
                              <div class="menu-text">
                                <div class="menu-text__title">
                                  <div class="title-seventh">ixAnyPoint</div>
                                </div>
                                <div class="menu-text__description">
                                  <div class="text-about">A complete infrastructure for launching your genetic products</div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                      <a href="#" class="menu-content-bottom">
                        <div class="menu-content-bottom__text">
                          <h4 class="title--blue-dark">Request a demo</h4>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="header-menu-list__item"> <a href="#">Developers</a></li>
            <li class="header-menu-list__item"> <a href="#">About</a></li>
            <li class="header-menu-list__item"> <a href="#">Contact</a></li>
          </ul>
      </v-flex>

      <v-flex xs0 sm3 md3 lg3>
        <div class="header-menu__item header-menu__signin">
          <a href="#">Sign in</a>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
@import "../scss/partials/variables";
@import "../scss/partials/media";
.header-mobile{
  width:100%;
  height: 60px;
  display:none;
  margin:20px 10px 10px 20px;
}
.mobile-row{
  display:flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.-mobile__logo{
  display:block;
}
.mobile-menu{
  display:block;
}
.mobile-menu-button{
  width:30px;
  height:30px;
  color:white;
  margin-right: 30px;
}
.mobile-toggle button{
  width:100%;
  height:auto;
}
.header-mobile-menu{
  display:none;
}
.mobile-menu{
  position: absolute;
  display: none;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  opacity: 0;
  width: 96%;
  height: auto;
  background: #fff;
  margin: 0 auto;
  left: 2%;
  top: 5px;
  z-index: 10;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 13px -2px #888;
  box-shadow: 0px 4px 13px -2px #888;
  -webkit-transition: -webkit-transform .25s ease;
  transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
  transition: transform .25s ease, -webkit-transform .25s ease;
  }
.mobile-menu__wrap{
  width:100%;
  height: 100%;
  position:relative;
}
.mobile-menu__button-close {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 7px;
    top: 12px;
    cursor: pointer;
}
.mobile-menu__title{
  width: 100%;
  height: 45px;
  padding: 21px 0px 0px 23px;
  text-align: left;
}
.mobile-menu-top-link {
    list-style: none;
    margin: 0;
    padding: 21px 0;
    border-bottom: 2px solid #f2f6fa;
}
.mobile-menu-top-link__item {
    width: auto;
    height: auto;
    padding-left: 21px;
    padding-top: 15px;
    text-align: left;
    cursor: pointer;
}
.mobile-menu-top-link__link {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.mobile-menu-top-link__image {
    display: inline-block;
    width: auto;
    height: auto;
    vertical-align: middle;
}
.mobile-menu-top-link__text {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    padding-left: 15px;
    color: $blue;
}
.mobile-menu-bottom-link {
    list-style: none;
    margin: 0;
    padding: 0 24px 18px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.mobile-menu-bottom-link__item {
    width: auto;
    height: auto;
    padding: 18px 0 0 24px;
    vertical-align: middle;
    cursor:pointer;
}
.mobile-menu-bottom-link__link {
    font-size: 16px;
    font-weight: 500;
    color: #6772e5;
    transiton: color .1s ease;
}
.mobile-menu__sign-in {
    width: 100%;
    height: auto;
    background-color: #F6F9FC;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    padding: 0;
}
.auth {
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 18px;
}
.auth__mobile-menu {
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #6772e5;
    -webkit-transition: color .1s ease;
    transition: color .1s ease;
    padding: 17px 24px;
    text-align: center;
}
.mobile-menu-content {
    width: 100%;
}
.mobile-toggle-close{
  color:$blue-dark;
  font-size:18px;
  cursor:pointer;
}


.header-wide{
  display:block;
}
.header-menu-list__item--link{
    font-weight: 460;
  }
  .title--blue-dark{
    color: #657E97 !important
  }
  .header-menu-list__item, .header-menu__item{
    height:40px;
  }
.menu-content-bottom {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    background-color: #E1F0FF;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    text-decoration: none;
    cursor: pointer;
}
  .header-menu__link:hover .header-menu-dropdown__menu{
  -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 1;
    pointer-events: all;
}
    .header-menu__link:hover {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
  }
  .header-menu__link{
    color: #fff;
    font-size: 14pt;
    padding-right: 17px;
    font-family: Quicksand;
    font-weight: 300;
    display: inline-block;
    cursor: default;
    -webkit-transition: color 0.1s ease;
    transition: color 0.1s ease;
    height: 40px;
  }
  .text-about{
    font-size: 12pt;
    line-height: 22px;
    color: #657E97;
    text-align: left;
  }
  .menu-text__description{
    width: 100%;
    height: 100%;
    padding-top: 5px;
  }
  .image-circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  .menu-link__image {
    width: auto;
    height: auto;
    padding-right: 20px;
  }
  .menu-link {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__link{
    text-decoration: none;
  }
  .menu__item{
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 26px;
  }
  .menu__wrap{
    margin: 0;
    padding: 0 30px 30px 30px;
  }
  .menu{
    -webkit-transition: opacity 0.6s ease-in;
    transition: opacity 0.6s ease-in;
  }
  .header-menu-dropdown__menu{
    position: absolute;
    width: 400px;
    height: auto;
    background-color: #fff;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transform: rotateX(-6deg);
    transform: rotateX(-6deg);
    opacity: 0;
    pointer-events: none;
    will-change: transform,opacity;
    -webkit-transition-property: opacity,-webkit-transform;
    transition-property: opacity,-webkit-transform;
    transition-property: transform,opacity;
    transition-property: transform,opacity,-webkit-transform;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    margin-left: -156px;
    top: 45px;
    -webkit-box-shadow: 0px 6px 39px -8px black;
    box-shadow: 0px 6px 39px -8px black;
    z-index: 1000;
  }
  .header-menu-dropdown{
    width: 100%;
    height: 100%;
    -webkit-perspective: 200px;
    perspective: 200px;
    z-index: 200;
    position: relative;
    top: -29px;
  }
  .logo{
    width:35%;
  }
  a{
    color:white;
    font-size:18px;
  }
  a:hover{
    text-decoration: none;
    color:#F0F8FF;
  }
  .padding-top{
    padding-top: 15px;
  }
</style>
<script>
export default {
  methods: {
     openMenu: function(){
      document.getElementsByClassName('mobile-menu')[0].style.display = 'block';
      document.getElementsByClassName('mobile-menu')[0].style.opacity = '1';
  },
    closeMenu: function(){
     document.getElementsByClassName('mobile-menu')[0].style.display = 'none';
     document.getElementsByClassName('mobile-menu')[0].style.opacity = '0';
},
},
}
</script>
