@import "./scss/partials/variables";
@import "./scss/partials/fonts";
@import "./scss/partials/common";
@import "./scss/partials/buttons";
@import './scss/partials/media.scss';
@import './scss/partials/mixins.scss';

body{
  overflow-x: hidden;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
.container{
  max-width:999px;
  width:100%;
  height: auto;
}
.container-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-flex-vm{
  align-items: center;
}
.title-seventh{
  font-size:18px;
  weight:500;
  color:blue;
  text-align: left;
}
